/* CONFIGURATION */

:root {
    --red: #c4364e;
    --yellow: #876219;
    --blue: #295e5d;
    --lightbrown: #d7b9ac;
    --silver: #e8eceb;
    --brown: #884900;
    --black: #222528;
    --darkgray: #5b636b;
    --gray: #47494a;
    --lightgray: #ced0d2;
    --sectionLightgray: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 50px;
    line-height: 59px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif
}

body {
    background-color: #fff;
    overflow-x: hidden;
    min-width: 320px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 45px;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

button:focus, input:focus {
    outline: none;
}

::placeholder {
    color: var(--gray)
}

button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}



/* CONFIGURATION ENDS */


.button {
    text-transform: uppercase;
    transition: .4s ease all;
    font-weight: 500;
    background: none;
}

.button_background {
    width: 300px;
    min-height: 54px;
    border-radius: 14px;
    color: #fff;
}

.button_simple {
    color: var(--red);
    font-size: 16px;
}

.button_simple:hover {
    color: #a53145;
    text-decoration: underline;
    font-size: 18px;
}

.button_red {
    background-color: var(--red);
    box-shadow: 2px 4px 9px rgba(243, 55, 87, .42);
}

.button_red:hover {
    background-color: #b0354a;
    color: var(--black);
}

.button_yellow {
    background-color: var(--yellow);
    box-shadow: 2px 4px 9px rgba(242,178,54, .42)
}

.button_catalog {
    align-self: center;
}

.button_yellow:hover {
    background-color:#fbb835;
    color: var(--black);
}

/* HEADER */

.logo-wrapper {
    margin-right: 115px;
}

.header__card, .header__user, .header__burger {
    width: 45px;
    height: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.card, .user, .burger {
    padding: 6px;
}

.header__upper {
    box-shadow: 0px 5px 13px #ebe7e0;
    background: rgb(242,178,54);
    background: linear-gradient(135deg,
     rgba(242,178,54,1) 0%,
    rgba(255,156,26,1) 100%);
    padding: 40px 0 30px
}

.logo-wrapper {
    color: #fff;
}

.logo-text {
    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
}

.header__search {
    flex-basis: 320px;
}

.search {
    border-radius: 26px;
    padding: 12px 20px;
    width: 100%;
    border: none;
    color: var(--gray);
    font-size: 16px;
    background-image: url('img/search.svg');
    background-position: 95%;
    background-repeat: no-repeat;
}

.header__options {
    display: flex;
    align-items: center;
}

.header__card {
    margin-right: 24px;
}

.contacts {
    color: var(--brown);
    font-size: 18px;
    font-weight: 500;
}

.header__card, .header__user {
    position: relative;
}

.header__card::after, .header__user::after {
    content: '3';
    position: absolute;
    right: 3px;
    top: 3px;
    border-radius: 50%;
    background-color: var(--red);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 12px;
    width: 16px;
    height: 16px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header__menu-link {
    color: var(--black);
    padding: 20px;
    display: block;
}

.header__menu-item:hover .header__menu-link {
    background-color: var(--yellow);
    color: #fff;
}

.header__menu-item:hover .header__submenu {
    display: block;
}

.container_header-nav {
    justify-content: flex-end;
    display: flex;
}

.container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__menu-item {
    position: relative;
}

.header__submenu {
    position: absolute;
    background-color: #fff;
    left: 0;
    right: 0;
    display: none;
    z-index: 5;
}


.header__submenu-link {
    padding: 20px;
    color: var(--black);
    display: block;
}

.header__submenu-link:hover {
    background-color: var(--yellow);
    color: #fff;
}



/* HEADER ENDS */


/* MAIN */

.main {

}

    /* QUEST SECTION*/
    
    .quest {
        background-image: url("img/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        text-align: center;
        padding: 235px 0 170px;
        position: relative;
    }

    .quest__inner {
        max-width: 900px;
        margin: 0 auto;
    }

    .quest__p {
        margin: 15px 0 45px;
    }

    .quest__socials {
        position: absolute;
        right: 12.5%;
        bottom: 40px;
        display: flex;

    }
    
    .quest__socials-item {
        margin-right: 20px;
    }
    .quest__socials-link {
        background: url('img/socials/socials.svg') no-repeat;
        width: 50px;
        height: 50px;
        background-size: cover;
        display: block;
    }

    .quest__socials-item:last-child {
        margin-right: 0;
    }

    .quest__socials-item:nth-child(2) .quest__socials-link {
        background-position: -63px 0px;
    }
 
    .quest__socials-item:nth-child(3) .quest__socials-link {
        background-position: -126px 0px;
    }
 
    .quest__socials-item:nth-child(4) .quest__socials-link {
        background-position: -189px 0px;
    }
 
    /* QUEST SECTION END*/


    /* SALES ARTICLE */
    .sales {
        padding: 48px 0 92px
    }

    .line {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .sales__cards {
        display: flex;
        margin-top: 35px;
    }

    .sales__card {
        padding: 35px;
        filter: drop-shadow(0px 4px 9px #D3D3D3);
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        min-width: 545px;
        margin-right: 15px;
    }

    .sales__card-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .sales__card-heading {
        font-size: 24px;
        color: var(--red);
    }

    .sales__card-box {
        display: flex;
        color: #fff;
        flex-direction: column;
        border-radius: 10px;
        padding: 12px 16px;
        margin-right: 18px;
    }

    .sales__card-box-item_top {
        text-align: right;
    }
    
    .sales__card-box-item_center {
        align-items: center;
        font-weight: 500;
        font-size: 38px;
    }

    .sales__card-box-item_bottom {
        text-align: left;
    }

    .sales__card:nth-child(2n) .sales__card-box {
        background-color: var(--yellow);
    }

    .sales__card:nth-child(2n+1) .sales__card-box {
        background-color: var(--blue);
    }
    /* SALES ARTICLE END */

    .catalog, .questions-section  {
        border-top: 1px solid var(--gray);
        border-bottom: 1px solid var(--gray);
        background-color: var(--sectionLightgray);
    }

    /* CATALOG SECTION */


    .catalog {
        padding: 80px 0 100px;
    }

    .catalog__heading {
        margin-bottom: 16px;
    }

    .catalog__products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 90px;
        grid-gap: 30px;
    }

    .catalog__product {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        padding: 25px;
        box-shadow: 0px 4px 9px #d3d3d3;
        background-color: #fff;
    }


    .catalog__product:last-child {
        margin-right: 0px;
    }

    .catalog__product-age {
        background-color: var(--blue);
        width: 135px;
        padding: 5px 12px;
        text-transform: uppercase;
        font-weight: 500;
        align-self: flex-end;
        color: #fff;
        border-radius: 6px;
        text-align: center;
    }

    .catalog__product-heading {
        margin: 20px 0;
        transition: .4s ease color;
    }

    .catalog__product:hover .catalog__product-heading {
        color: var(--yellow)
    }

    .catalog__product-price {
        margin: 24px 0;
        text-align: center;
        color: var(--red);
        font-weight: 500;
        font-size: 24px;
    }

    .catalog__product-decription-item {
        padding-left: 30px;
        margin-bottom: 7px;
        position: relative;
        color: #5b636b;

    }

    .catalog__product-decription-item::before {
        content: '';
        width: 22px;
        height: 22px;
        background: url('img/game/game-icons.svg') no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: -2px;
    }

    .catalog__product-decription-item:nth-child(2)::before {
        background-position: 0px -25px;
    }

    .catalog__product-decription-item:nth-child(3)::before {
        background-position: 0px -50px;
    }

    .catalog__product-decription-item:nth-child(4)::before {
        background-position: 0px -75px;
    }

    .catalog__product-decription-item:nth-child(5)::before {
        background-position: 0px -100px;
    }

    /* CATALOG SECTION END */

    /* PLAYER SECTION */

    .player {
        background: url('img/player-bg.png') no-repeat;
        background-size: cover;
        min-height: 100vh;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* PLAYER SECTION END */


    /* QUEST SECTION */

    .quests-section {
        padding: 120px 0;
    }

    .quests {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 90px;
        grid-gap: 40px;
        margin-bottom: 55px;
    }

    .quests__item {
        display: flex;
        align-items: center;
    }

    .quests__icon {
        margin-right: 23px;
        min-width: 140px;
    }

    .quests__text {
        font-size: 24px;
        max-width: 400px;
    }

    /* QUEST SECTION END */

    /* QUESTIONS SECTION */

    .questions-section  {
        padding: 85px 0;
    }

    .questions__heading {
        margin-bottom: 90px;
    }

    .questions {
        margin-bottom: 80px;
    }

    .question {
        margin-bottom: 45px;
    }

    .question:last-child {
        margin-bottom: 0;
    }

    .question__button {
        font-size: 30px;
    }

    /* QUESTIONS SECTION END */


    /* REVIEWS SECTION */

    .reviews-section {
        padding: 120px 0 240px;
    }

    .reviews__heading {
        margin-bottom: 24px;
    }

    .reviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 55px;
        margin-top: 60px;
    }

    .review__person {
        display: flex;
    }

    .review {
        padding: 35px 40px;
        background-color: #fff;
        box-shadow: 0px 4px 9px #D3D3D3;
        border-radius: 14px;
    }

    .review__text {
        margin: 25px 0 5px;
    }

    .review__photo {
        margin-right: 28px;
    }

    .review__date {
        color: var(--gray);
        margin: 10px 0 7px;
    }

    .review__stars {
        color: var(--yellow);
        font-size: 21px;
        display: flex;
        align-items: center;
    }

    .big-number {
        font-size: 42px;
        font-weight: 300;
    }

    .stars {
        margin-left: 12px;
        width: 150px;
        height: 30px;
        display: inline-block;
        background: url("img/star.svg");
    }

    .review__read-all {
        color: var(--yellow);
        text-decoration: underline;
        font-size: 20px;
        font-weight: 400;
        text-transform: initial;
    }

    /* REVIEWS SECTION END */

/* MAIN ENDS /*
/* FOOTER */

.footer__upper {
    color: #fff;
    background: rgb(242,178,54);
    background: linear-gradient(135deg,
     rgba(242,178,54,1) 0%,
    rgba(255,156,26,1) 100%);
    padding: 60px 0 85px
}

.footer__upper-container {
    display: flex;
    justify-content: space-between;

}

.contacts_footer {
    margin: 15px 0 45px;
}

.footer__bottom {
    background-color: var(--black);
    color: var(--silver);
    font-size: 16px;
}

.footer__links {
    display: flex;
    margin-right: auto;
}

.footer__links-item {
    margin-right: 53px;
}

.footer__links-item:last-child {
    margin-right: 0;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    margin-left: auto;
}

.footer__bottom-container {
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.footer__nav {
    display: flex;
}

.pages {
    margin: 0 54px;
}

.important {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content__item, .pages__item, .important-pages__item {
    margin-bottom: 18px;
}

.content__link:hover, .pages__link:hover, .important-pages__link:hover {
    text-decoration: underline;
}

.content__item:last-child, .pages__item:last-child, .important-pages__item:last-child {
    margin-bottom: 0;
}

.socials {
    display: flex;
    margin-top: auto;
}


/* FOOTER ENDS */




.contacts_mobile {
    display: none;
}

.header__burger {
    display: none;
}




/* MOBILE CONFIGURATION */

@media (max-width: 1200px) {
    .footer__bottom-container {
        padding: 40px 20px !important;
    }
    .header__options {
        margin-left: 20px;
    }
    .logo-wrapper {
        margin-right: 50px;
    }
    .catalog__products {
        grid-template-columns: 1fr 1fr;
    }

    .sales__cards {
        flex-wrap: wrap;
    }

    .sales__card {
        margin-bottom: 16px;
    }

    .header__search {
        flex-basis: 260px;
    }

    .contacts {
        font-size: 16px;
    }
}


@media (max-width: 992px) {
    .footer__upper-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .footer__site {
        display: flex;
        align-items: center;
    }
    .footer__logo {
        margin-right: 30px;
        align-self: flex-start;
    }
    .quest__inner {
        padding: 0 54px;
    }
    .quest__heading {
        text-align: left;
    }
    .header__burger, .header__card {
        width: 66px;
        height: 66px;
        padding: 10px;
        display: block;
    }
    .logo-wrapper {
        order: 2;
    }

    .header__hamburger {
        order: 3;
    }

    .contacts_mobile {
        display: block;
        margin: 20px 0 20px 54px;
        font-size: 18px;
    }
    .header-nav_desktop, .contacts_desktop, .search_desktop, .header__user, .socials_desktop {
        display: none;
    }
    .reviews-section {
        padding: 98px 0 120px;
    }

    .quests {
        grid-template-columns: 1fr;
    }
    .question__button {
        font-size: 24px;
    }

    .reviews {
        grid-template-columns: 1fr;
    }

    html {
        font-size: 16px;
    }
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 16px;
    }

    /* .button {
        font-size: 14px;
    } */

}

@media (max-width: 768px) {
    .footer__links {
        flex-direction: column;
    }
    .footer__bottom-container {
        flex-direction: column;
    }
    .footer__copyright {
        margin-left: 0;
    }
    .footer__links {
        margin-right: 0;
        text-align: center;
    }

    .footer__links-item {
        margin-right: 0;
    }
    .footer__site {
        display: flex;
        flex-direction: column;
    }

    .footer__logo {
        align-self: center;
    }
    .quest__inner {
        padding: 0 20px;
    }

    .quest__heading {
        font-size: 36px;
    }
    .contacts_mobile {
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .catalog {
        padding: 65px 0 50px;
    }

    .reviews-section {
        padding: 64px 0 120px;
    }

    .quests__icon {
        min-width: 100px;
    }
    .quests__text {
        font-size: 20px;
    }

    .catalog__products {
        grid-template-columns: 1fr;
    }

    .question__button {
        font-size: 20px;
        text-align: left;
    }

    .container {
        padding: 0 20px;
    }


}

@media (max-width: 576px) {
    .catalog__product {
        padding: 15px 5px;
    }
    .content {
        margin-right: 60px;
    }

    .important {
        flex-basis: 100%;
    }
    .pages {
        margin: 0;
    }
    .footer__nav {
        flex-wrap: wrap;
    }
    .header__burger, .header__card {
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    .logo-wrapper {
        display: none;
    }

    .stars {
        display: none;
    }
    .sales__card-box {
        display: none;
    }

    .sales__card {
        min-width: 290px;
    }

    .question__button {
        font-size: 16px;
    }

    .container {
        padding: 0 12px;
    }
}

@media (max-width: 384px) {
    .pages {
        margin: 30px 0;
    }
}
/* MOBILE CONFIGURATION */




/* PRINT */

@page {
    size: A4;
    margin: 1;
}

@media print {
    *, *::before, *::after {
        background: #fff !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .header__hamburger,  .header__search, .header__options, .header__nav, .sales, .footer__nav, .footer__links,
    .quest__socials {
        display: none !important;
    }
    
    .footer__site {
        margin: 0 auto;
    }

    .footer__copyright {
        margin: 0 auto !important;
    }

    .quest {
        page-break-after: always;
    }

    .button, .review {
        box-shadow: none;
    }


    .catalog__products {
        display: block;
        position: relative;
    }

    .catalog__product {
        position: relative;
        width: 75%;
        margin: 0 auto !important;
        page-break-inside: avoid;
        border: 1mm solid #000;
    }

    .quests-section, footer {
        page-break-before: always;
    }




    .contacts {
        display: block !important;
    }

    .player {
        display: none;
    }
}

@media print and (max-width: 576px) {
    .logo-wrapper {
        display: block;
        margin: 0 auto;
    }
    .container_header {
        flex-direction: column;
        row-gap: 15px;
    }
}
