/* CONFIGURATION */
html {
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif
}

body {
    background-color: #fafaf9;
    overflow-x: hidden;
    min-width: 320px;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

::placeholder {
    color: $gray
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 45px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 3rem;
    line-height: 59px;
}

h2 {
    font-size: 2.7rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.2rem;
}

button {
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
}

.button {
    text-transform: uppercase;
    transition: .4s ease all;
    font-weight: 500;
    background: none;
    
    &_background {
        width: 300px;
        min-height: 54px;
        border-radius: 14px;
        color: #fff;
    }

    &_simple {
        color: $red;
        font-size: 1rem;
        &:hover {
            color: #a53145;
            text-decoration: underline;
        } 
    }

    &_red {
        background-color: $red;
        box-shadow: 2px 4px 9px rgba(243, 55, 87, .42);
        &:hover {
            background-color: #b0354a;
            color: $black;
        }
    }


    &_yellow {
        background-color: $yellow;
        box-shadow: 2px 4px 9px rgba(242,178,54, .42);
        &:hover {
            background-color:#fbb835;
            color: $black;
        }
    }

    &_catalog {
        align-self: center;
    }
}

/* CONFIGURATION ENDS */