
$red: #db4e66;
$yellow: #f2b236;
$blue: #90c1bf;
$lightbrown: #d7b9ac;
$silver: #e8eceb;
$brown: #884900;
$black: #222528;
$darkgray: #5b636b;
$gray: #a5aaaf;
$lightgray: #ced0d2;
$sectionLightgray: #f7f7f7;

