/* CONFIGURATION */
html {
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #fafaf9;
  overflow-x: hidden;
  min-width: 320px;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

::placeholder {
  color: #a5aaaf;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 45px;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  line-height: 59px;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
}

button {
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: "Rubik", sans-serif;
}

.button, .button_yellow, .button_red, .button_simple {
  text-transform: uppercase;
  transition: 0.4s ease all;
  font-weight: 500;
  background: none;
}
.button_background, .button_yellow, .button_red {
  width: 300px;
  min-height: 54px;
  border-radius: 14px;
  color: #fff;
}
.button_simple {
  color: #db4e66;
  font-size: 1rem;
}
.button_simple:hover {
  color: #a53145;
  text-decoration: underline;
}
.button_red {
  background-color: #db4e66;
  box-shadow: 2px 4px 9px rgba(243, 55, 87, 0.42);
}
.button_red:hover {
  background-color: #cc2a45;
  color: #222528;
}
.button_yellow {
  background-color: #f2b236;
  box-shadow: 2px 4px 9px rgba(242, 178, 54, 0.42);
}
.button_yellow:hover {
  background-color: #e69d0f;
  color: #222528;
}
.button_catalog {
  align-self: center;
}

/* CONFIGURATION ENDS */
/* HEADER */
.header__card, .header__user, .header__burger {
  width: 45px;
  height: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.header__upper {
  box-shadow: 0px 5px 13px #ebe7e0;
  background: #f2b236;
  background: linear-gradient(135deg, #f2b236 0%, #ff9c1a 100%);
  padding: 40px 0 30px;
}
.header__search {
  flex-basis: 320px;
}
.header__options {
  display: flex;
  align-items: center;
}
.header__card {
  margin-right: 24px;
}
.header__card, .header__user {
  position: relative;
}
.header__card:after, .header__user:after {
  content: "3";
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 50%;
  background-color: #db4e66;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  width: 16px;
  height: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-link {
  color: #222528;
  padding: 20px;
  display: block;
}
.header__menu-item {
  position: relative;
}
.header__menu-item:hover .header__menu-link {
  background-color: #f2b236;
  color: #fff;
}
.header__menu-item:hover .header__submenu {
  display: block;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__submenu {
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  display: none;
  z-index: 5;
}
.header__submenu-link {
  padding: 20px;
  color: #222528;
  display: block;
}
.header__submenu-link:hover {
  background-color: #f2b236;
  color: #fff;
}
.header__burger {
  display: none;
}

.logo-wrapper {
  margin-right: 115px;
  color: #fff;
}
.logo-text {
  font-weight: 500;
  font-size: 18px;
  margin-top: 5px;
}

.card, .user, .burger {
  padding: 6px;
}

.search {
  border-radius: 26px;
  padding: 12px 20px;
  width: 100%;
  border: none;
  color: #a5aaaf;
  font-size: 16px;
  background-image: url("../img/search.svg");
  background-position: 95%;
  background-repeat: no-repeat;
}

.contacts {
  color: #884900;
  font-size: 18px;
  font-weight: 500;
}

.container_header-nav {
  justify-content: flex-end;
  display: flex;
}
.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts_mobile {
  display: none;
}

/* HEADER ENDS */
/* MAIN */
/* QUEST SECTION*/
.quest {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 235px 0 170px;
  position: relative;
}
.quest__inner {
  max-width: 900px;
  margin: 0 auto;
}
.quest__p {
  margin: 15px 0 45px;
}
.quest__socials {
  position: absolute;
  right: 12.5%;
  bottom: 40px;
  display: flex;
  gap: 20px;
}
.quest__socials-link {
  background: url("../img/socials/socials.svg") no-repeat;
  width: 50px;
  height: 50px;
  background-size: cover;
  display: block;
}
.quest__socials-item:nth-child(2) .quest__socials-link {
  background-position: -63px 0px;
}
.quest__socials-item:nth-child(3) .quest__socials-link {
  background-position: -126px 0px;
}
.quest__socials-item:nth-child(4) .quest__socials-link {
  background-position: -189px 0px;
}

/* QUEST SECTION END*/
/* SALES ARTICLE */
.sales {
  padding: 48px 0 92px;
}
.sales__cards {
  display: flex;
  margin-top: 35px;
}
.sales__card {
  padding: 35px;
  filter: drop-shadow(0px 4px 9px #D3D3D3);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  min-width: 545px;
  margin-right: 15px;
}
.sales__card:nth-child(2n) .sales__card-box {
  background-color: #f2b236;
}
.sales__card:nth-child(2n+1) .sales__card-box {
  background-color: #90c1bf;
}
.sales__card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.sales__card-heading {
  font-size: 24px;
  color: #db4e66;
}
.sales__card-box {
  display: flex;
  color: #fafaf9;
  flex-direction: column;
  border-radius: 10px;
  padding: 12px 16px;
  margin-right: 18px;
}
.sales__card-box-item_top {
  text-align: right;
}
.sales__card-box-item_center {
  align-items: center;
  font-weight: 500;
  font-size: 38px;
}
.sales__card-box-item_bottom {
  text-align: left;
}

.line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* SALES ARTICLE END */
.catalog, .questions-section {
  border-top: 1px solid #A5AAAF;
  border-bottom: 1px solid #A5AAAF;
  background-color: #f7f7f7;
}

/* CATALOG SECTION */
.catalog {
  padding: 80px 0 100px;
}
.catalog__heading {
  margin-bottom: 16px;
}
.catalog__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 90px;
  grid-gap: 30px;
}
.catalog__product {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0px 4px 9px #d3d3d3;
  background-color: #fff;
}
.catalog__product:last-child {
  margin-right: 0px;
}
.catalog__product:hover .catalog__product-heading {
  color: #f2b236;
}
.catalog__product-age {
  background-color: #90c1bf;
  width: 135px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-weight: 500;
  align-self: flex-end;
  color: #fff;
  border-radius: 6px;
  text-align: center;
}
.catalog__product-heading {
  margin: 20px 0;
  transition: 0.4s ease color;
}
.catalog__product-price {
  margin: 24px 0;
  text-align: center;
  color: #db4e66;
  font-weight: 500;
  font-size: 24px;
}
.catalog__product-decription-item {
  padding-left: 30px;
  margin-bottom: 7px;
  position: relative;
  color: #5b636b;
}
.catalog__product-decription-item:before {
  content: "";
  width: 22px;
  height: 22px;
  background: url("../img/game/game-icons.svg") no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: -2px;
}
.catalog__product-decription-item:nth-child(2):before {
  background-position: 0px -25px;
}
.catalog__product-decription-item:nth-child(3):before {
  background-position: 0px -50px;
}
.catalog__product-decription-item:nth-child(4):before {
  background-position: 0px -75px;
}
.catalog__product-decription-item:nth-child(5):before {
  background-position: 0px -100px;
}

/* CATALOG SECTION END */
/* PLAYER SECTION */
.player {
  background: url("../img/player-bg.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PLAYER SECTION END */
/* QUEST SECTION */
.quests-section {
  padding: 120px 0;
}

.quests {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 90px;
  grid-gap: 40px;
  margin-bottom: 55px;
}
.quests__item {
  display: flex;
  align-items: center;
}
.quests__icon {
  margin-right: 23px;
  min-width: 140px;
}
.quests__text {
  font-size: 24px;
  max-width: 400px;
}

/* QUEST SECTION END */
/* QUESTIONS SECTION */
.questions-section {
  padding: 85px 0;
}

.questions {
  margin-bottom: 80px;
}
.questions__heading {
  margin-bottom: 90px;
}

.question {
  margin-bottom: 45px;
}
.question:last-child {
  margin-bottom: 0;
}
.question__button {
  font-size: 30px;
}

/* QUESTIONS SECTION END */
/* REVIEWS SECTION */
.reviews-section {
  padding: 120px 0 240px;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 35px;
  grid-row-gap: 55px;
  margin-top: 60px;
}
.reviews__heading {
  margin-bottom: 24px;
}

.review {
  padding: 35px 40px;
  background-color: #fff;
  box-shadow: 0px 4px 9px #D3D3D3;
  border-radius: 14px;
}
.review__person {
  display: flex;
}
.review__text {
  margin: 25px 0 5px;
}
.review__photo {
  margin-right: 28px;
}
.review__date {
  color: #a5aaaf;
  margin: 10px 0 7px;
}
.review__stars {
  color: #f2b236;
  font-size: 21px;
  display: flex;
  align-items: center;
}
.review__read-all {
  color: #f2b236;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  text-transform: initial;
}

.big-number {
  font-size: 42px;
  font-weight: 300;
}

.stars {
  margin-left: 12px;
  width: 150px;
  height: 30px;
  display: inline-block;
  background: url("../img/star.svg");
}

/* REVIEWS SECTION END */
/* FOOTER */
.footer__upper {
  color: #fafaf9;
  background: #f2b236;
  background: linear-gradient(135deg, #f2b236 0%, #ff9c1a 100%);
  padding: 60px 0 85px;
}
.footer__upper-container {
  display: flex;
  justify-content: space-between;
}
.footer__bottom {
  background-color: #222528;
  color: #e8eceb;
  font-size: 16px;
}
.footer__links {
  display: flex;
  margin-right: auto;
  gap: 53px;
}
.footer__links:hover {
  text-decoration: underline;
}
.footer__copyright {
  margin-left: auto;
}
.footer__bottom-container {
  display: flex;
  align-items: center;
  padding: 60px 0;
}
.footer__nav {
  display: flex;
}

.contacts_footer {
  margin: 15px 0 45px;
}

.pages {
  margin: 0 54px;
}

.important {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content__item, .pages__item, .important-pages__item {
  margin-bottom: 18px;
}
.content__item:hover, .pages__item:hover, .important-pages__item:hover {
  text-decoration: underline;
}
.content__item:last-child, .pages__item:last-child, .important-pages__item:last-child {
  margin-bottom: 0;
}

.socials {
  display: flex;
  margin-top: auto;
}

/* FOOTER ENDS */
/* MEDIA */
@media (max-width: 1200px) {
  .footer__bottom-container {
    padding: 40px 20px !important;
  }

  .header__options {
    margin-left: 20px;
  }
  .header__search {
    flex-basis: 260px;
  }

  .catalog__products {
    grid-template-columns: 1fr 1fr;
  }

  .sales__cards {
    flex-wrap: wrap;
  }
  .sales__card {
    margin-bottom: 16px;
  }

  .logo-wrapper {
    margin-right: 50px;
  }

  .contacts {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .footer__upper-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer__site {
    display: flex;
    align-items: center;
  }
  .footer__logo {
    margin-right: 30px;
    align-self: flex-start;
  }

  .quest__inner {
    padding: 0 54px;
  }
  .quest__heading {
    text-align: left;
  }

  .header__burger, .header__card {
    width: 66px;
    height: 66px;
    padding: 10px;
    display: block;
  }
  .header__hamburger {
    order: 3;
  }

  .logo-wrapper {
    order: 2;
  }

  .contacts_mobile {
    display: block;
    margin: 20px 0 20px 54px;
    font-size: 18px;
  }

  .header-nav_desktop, .contacts_desktop, .search_desktop, .header__user, .socials_desktop {
    display: none;
  }

  .reviews-section {
    padding: 98px 0 120px;
  }

  .quests {
    grid-template-columns: 1fr;
  }

  .question__button {
    font-size: 24px;
  }

  .reviews {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .footer__links {
    flex-direction: column;
  }
  .footer__bottom-container {
    flex-direction: column;
  }
  .footer__copyright {
    margin-left: 0;
  }
  .footer__links {
    margin-right: 0;
    text-align: center;
  }
  .footer__links-item {
    margin-right: 0;
  }
  .footer__site {
    display: flex;
    flex-direction: column;
  }
  .footer__logo {
    align-self: center;
  }

  .quest__inner {
    padding: 0 20px;
  }
  .quest__heading {
    font-size: 36px;
  }

  .contacts_mobile {
    display: block;
    text-align: center;
    margin: 20px 0;
  }

  .catalog {
    padding: 65px 0 50px;
  }

  .reviews-section {
    padding: 64px 0 120px;
  }

  .quests__icon {
    min-width: 100px;
  }
  .quests__text {
    font-size: 20px;
  }

  .catalog__products {
    grid-template-columns: 1fr;
  }

  .question__button {
    font-size: 20px;
    text-align: left;
  }

  .container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .catalog__product {
    padding: 15px 5px;
  }

  .content {
    margin-right: 60px;
  }

  .important {
    flex-basis: 100%;
  }

  .pages {
    margin: 0;
  }

  .footer__nav {
    flex-wrap: wrap;
  }

  .header__burger, .header__card {
    width: 50px;
    height: 50px;
    padding: 5px;
  }

  .logo-wrapper {
    display: none;
  }

  .stars {
    display: none;
  }

  .sales__card-box {
    display: none;
  }

  .sales__card {
    min-width: 290px;
  }

  .question__button {
    font-size: 16px;
  }

  .container {
    padding: 0 12px;
  }
}
@media (max-width: 384px) {
  .pages {
    margin: 30px 0;
  }
}
/* MEDIA */
/* PRINT */
@page {
  size: A4;
  margin: 1;
}
@media print {
  *, *::before, *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .header__hamburger, .header__search, .header__options, .header__nav, .sales, .footer__nav, .footer__links,
.quest__socials {
    display: none !important;
  }

  .footer__site {
    margin: 0 auto;
  }

  .footer__copyright {
    margin: 0 auto !important;
  }

  .quest {
    page-break-after: always;
  }

  .button, .review {
    box-shadow: none;
  }

  .catalog__products {
    display: block;
    position: relative;
  }

  .catalog__product {
    position: relative;
    width: 75%;
    margin: 0 auto !important;
    page-break-inside: avoid;
    border: 1mm solid #000;
  }

  .quests-section, footer {
    page-break-before: always;
  }

  .contacts {
    display: block !important;
  }

  .player {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
